/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

*{

}

p{
	color:rgb(35,35,35);		

	
}
.artist_nav{
	visibility:hidden;
}

.main{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	display: -moz-box;
	-moz-box-orient: horizontal;
	color:rgb(35,35,35);
	font-size:14px;
	font-family:'arial';
	

}

.container_left{
	display: -webkit-box;
	display: -moz-box;
	position: fixed;
	
}

.container_right{
	display: -webkit-box;
	-webkit-box-orient:vertical ;
	display: -moz-box;
	-moz-box-orient:vertical ;
	
	position:absolute;
	left:300px;
	
}

/*
.container_right{
	display: -webkit-box;
	-webkit-box-orient:horizontal ;
	
	display: -moz-box;
	-moz-box-orient:horizontal ;
	
}
*/
.row1{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	
	display: -moz-box;
	-moz-box-orient: horizontal;
	
}

.column{
	width:440px;
	
}

.art1_image_wrap{
	margin-top:70px;
	height:480px;
	
}

.art1_name{
	margin-right:100px;
/*	position:relative;
	left:100px;*/

	
}

.art_description{
	width:330px;

	
}


.art2_image_wrap{
	margin-top:70px;
	height:480px;
	
}

.art2_name{
	margin-right:100px;
/*	position:relative;
	left:100px;*/

	
}


.row2{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	
	display: -moz-box;
	-moz-box-orient: horizontal;
	
}



